[submodule "services/virtuoso-api-gateway"]
	path = services/virtuoso-api-gateway
	url = git@github.com:Samwisebuze/virtuoso-gateway.git
[submodule "services/virtuoso-auth"]
	path = services/virtuoso-auth
	url = git@github.com:Samwisebuze/virtuoso-auth.git
[submodule "services/virtuoso-network"]
	path = services/virtuoso-network
	url = git@github.com:Samwisebuze/virtuoso-network.git
[submodule "services/virtuoso-container"]
	path = services/virtuoso-container
	url = https://github.com/koreyhuskonen/containeroso
